.callback {
    position: fixed;
    background: var(--white);
    bottom: 0;
    height: 75vh;
    width: 100vw;
    z-index: 101;
    padding-top: 100px;
    box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.3);
    transform: translateY(120%);
    transition: all 0.5s ease;
}

.callback-show {
    transform: translateY(0);
}
.callback__container {
    display: flex;

}

.callback__head{
    margin-bottom: 20px;
}

.callback__close{
    cursor: pointer;
}
.callback-bg {
    position: fixed;
    display: none;
    bottom: 0;
    height: 100vh;
    background-color: var(--dark-90);
    opacity: 0.4;
    width: 100vw;
    z-index: 100;
    top: 0;
    cursor: pointer;
}