.footer {
    background-color: var(--blue-light);
    padding: 70px 0 55px;
}

.footer__row1{
    padding-bottom: 45px;
}

.footer__row2{
    border-top: 1px solid var(--tertiary-text-3);
    border-bottom: 1px solid var(--tertiary-text-3);
    padding: 20px 0;
}

.f-comp {
    display: flex;
}
.f-comp__img {
    height: 60px;
    width: 60px;
    background-color: red;
}
.f-comp__text {
    align-self: center;
    margin-left: 20px;
}

.footer__row3 {
    margin-top: 30px;
}
.f-soc__block {
    display: flex;
}