.tabs {
  .title {
    @extend .f-40-bold-dark;
    @extend .mb-50;
  }
  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: #3C5D72;
    max-width: 630px;
    margin-bottom: 50px;
  }
  .col-1 {
    @include col;
    @include size(4);
    @include sm-block {
      display: none;
    }

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: rgba(81, 100, 112, 0.7);
      padding-left: 10px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &.active{
        color: $color-dark-90;
        font-weight: 500;
      }

      &.active:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        background-color: $color-blue;
      }
    }
  }
  .col-2 {
    @include col;
    @include shift-left(1);
    @include size(7);
    @include shift-sm-left(0);
    @include sm-block{
      display: none;
    };
    position: relative;

    .content {
      display: none;
    }
  }
  .col-3 {
    @include col;
    @include size(12);
    display: none;
    @include sm-block {
      display: block;
    }

    .owl-nav {
      margin-bottom: 15px;
    }

    .owl-prev, .owl-next {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 40px;
      border: 2px solid $color-tertiary-text-2;
      height: 40px;
      width: 40px;
      cursor: pointer;

      &:active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      span {
        line-height: 34px;
        font-family: Gordita, sans-serif;
        font-weight: 500;
        color: $color-dark-90;
      }

      &:focus {
        outline: none;
      }
    }

    .count {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #3C5D72;
      padding: 0 15px;
    }
  }

  .content {

    &.active {
      display: block;
    }

    .roll {
      & > img {
        margin-bottom: 30px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #3C5D72;
      margin-bottom: 30px;
    }

    h3, h4, h5, h6{
      @extend .f-18-reg-bb100;
      margin-bottom: 10px;
      font-weight: bold;
    }

    h2{
      font-style: normal;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 30px;
      line-height: 43px;
      color: #15254B;

      @include sm-block {
        font-size: 24px;
      }
    }

    slider {
      ul {
        padding-left: 0px;
        list-style: none;
      }
    }

    ul.labels {
      display: none;

    }

    ul {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #3C5D72;
      margin-bottom: 30px;
      list-style: disc;

    }

    li:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }

    p img {
      margin-bottom: 30px;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}