:root {
    --blue: #0169FF;
    --blue-hover: #418DFB;
    --blue-active: #005ADB;

    --magenta: #F81C41;
    --magenta-hover: #FF5B77;
    --magenta-active: #DA0025;

    --dark-90: #15254B;
    --black-blue-100: #3C5D72;
    --black-blue-50: #86939B;

    --energy-dark-blue: #182280;
    --blue-light: #F2F5F9;

    --tertiary-text-1: #A4B5C0;
    --tertiary-text-2: #BECFD9;
    --tertiary-text-3: #D4E2EB;

    --white: #fff;
}

.color-blue {
    color: var(--blue);
}

.color-magenta {
    color: var(--magenta);
}

.color-dark-90 {
    color: var(--dark-90);
}

.color-black-blue-100 {
    color: var(--black-blue-100);
}

.color-black-blue-50 {
    color: var(--black-blue-50);
}

.color-energy-dark-blue {
    color: var(--energy-dark-blue);
}

.color-blue-light {
    color: var(--blue-light);
}

.color-tertiary-text-1 {
    color: var(--tertiary-text-1);
}

.color-tertiary-text-2 {
    color: var(--tertiary-text-2);
}

.color-tertiary-text-3 {
    color: var(--tertiary-text-3);
}

.color-white {
    color: var(--white);
}

/*"@babel/core": "^7.5.4",*/
/*"@babel/preset-env": "^7.5.4",*/
/*"babel-loader": "^8.0.6",*/
/*"css-loader": "^3.0.0",*/
/*"file-loader": "^4.0.0",*/
/*"html-webpack-plugin": "^3.2.0",*/
/*"mini-css-extract-plugin": "^0.7.0",*/
/*"node-sass": "^4.12.0",*/
/*"sass-loader": "^7.1.0",*/
/*"smart-grid": "^2.1.2",*/
/*"webpack": "^4.41.0",*/
/*"webpack-cli": "^3.3.6"*/