.estate-page {
  padding-top: 110px;

  .row {
    margin-bottom: -50px;

    & > * {
      margin-bottom: 50px;
    }
  }

  .title {
    @extend .f-40-bold-dark;
    @extend .mb-50;
  }

  .industry {
    @extend .section-padding;

    .img {
      @extend .bg-help;
      @extend .mb-50;
      height: 300px;

      @include md-block {
        height: 200px;
      }

      @include sm-block {
        margin-bottom: 30px;
        height: 250px;
      }
    }
  }

  .logo-2, .logo{
    width: auto;
    max-width: 100%;
  }

  .col-1 {
    @include col();
    @include size(4);
    @include size-md(5);
    @include size-sm(12);

    .help {
      @extend .mb-20;
      display: flex;
      align-items: center;

      @include sm-block {
        margin-bottom: 50px;
      }
    }

    .logo {
      @extend .mb-30;
      margin-top: 10px;

      @include md-block {
        margin-bottom: 0;
      }

      @include sm-block {
        margin-bottom: 10px;
      }
    }
    .logo-2 {
      max-height: 40px;
    }

    .text {
     @extend .f-16-reg-bb50;
      margin-left: 20px;
      max-width: 230px;

      @include sm-block {
        max-width: 1000px;
      }
    }

    .button {
      @include btn;
      @include btn-large;
      @include btn-magenta;
      @include sm-block {
        display: none;
      }
    }
  }

  .col-2 {
    @include col();
    @include size(7);
    @include shift-md-left(1);
    @include size-md(5);
    @include shift-sm(0);
    @include size-sm(12);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 150%;
      color: #15254B;
      margin-bottom: 20px;
      max-width: 650px;

      @include md-block {
        font-size: 20px;
      }

      @include sm-block {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }

    .button-2 {
      display: none;
      @include btn;
      @include btn-large;
      @include btn-magenta;

      @include sm-block {
        display: block;
        width: 280px;
      }
    }

    .button {
      @include btn;
      @include btn-large;
      @include btn-second;

      @include sm-block {
        margin-bottom: 20px;
        width: 280px;
      }
    }
  }

  .head {
    @extend .f-40-bold-dark;
    margin: 95px 0 50px;

    @include sm-block {
      margin: 100px  0 20px;
    }
  }

  .voz {
    @extend .section-padding;

    .col {
      @include col();
      @include size(3);
      @include size-md(4);
      @include size-sm(6);
      @include size-xs(12);

      margin-bottom: 30px;

      @include sm-block {
        margin-bottom: 50px;
      }

      img {
        max-height: 60px;
        margin-bottom: 20px;
      }

      div {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #3C5D72;
      }
    }
  }
  
  .preim {
    @extend .section-padding;
    .col {
      @include col();
      @include size(4);
      @include size-sm(12);
      background-color: $color-blue-light;
      border-radius: 4px;
      padding: 50px;


      @include md-block {
        padding: 50px 20px;
      }

      @include sm-block {
        padding: 50px;
        margin-bottom: 20px;
      }

      img{
        max-height: 100px;
        margin-bottom: 40px;
      }

      div {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: $color-dark-90;
        padding-bottom: 50px;
      }
    }
  }

  .polz {
    @extend .section-padding;
    .col-1 {
      @include col();
      @include size(4);

      @include md-block {
        display: none;
      }

      div {
        @extend .bg-help;
        max-width: 300px;
        height: 300px;
        background-color: red;
      }
    }
    .col-2{
      @include col();
      @include size(8);
      @include size-md(12);
    }

    .col-3 {
      @include col();
      @include size(6);
      @include size-sm(12);

      img {
        height: 60px;
        width: auto;
        margin-bottom: 20px;
      }

      .text-2 {
        @extend .f-18-reg-bb100;
      }
    }
  }

  .system-comp {

  }
}

.section-padding {
  padding-bottom: 100px;
}

.bg-help {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bread-crumb-e {
  margin-bottom: 75px;

  @include md-block {

    margin-bottom: 50px;
  }
}