.news-page {
  padding-top: 110px;
  margin-bottom: -30px;

  .title {
    @extend .font-section-title;
    margin-bottom: 37px;
    margin-top: 20px;

    @include sm-block {
      font-size: 30px;
      margin-top: 57px;
    }
  }

  .col {
    padding-bottom: 50px;
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-sm(12);

    &:hover .head{
      color: $color-blue;
    }

    .img {
      height: 200px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }

    .head {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #15254B;
    }
    .date {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: rgba(81, 100, 112, 0.7);
    }

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #3C5D72;
    }
  }

  .find_block {
    display: flex;
    justify-content: flex-end;

    @include sm-block {
      display: none;
    }

    &-tag {
      justify-content: space-between;
    }

    .button {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: rgba(81, 100, 112, 0.7);
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;


      .help{
        margin-right: 20px;
      }
      &:hover {
        color: $color-black-blue-100;

        .quarat {
          border-right: 2px solid $color-black-blue-100;
          border-bottom: 2px solid $color-black-blue-100;

        }
      }

      &-active {
        color: $color-dark-90;

        &:hover{
          color: $color-dark-90;
        }
      }
    }
  }
}

.current-tag {
  align-self: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #15254B;
  padding: 4px 37px 4px 10px;
  background-color: $color-tertiary-text-2;
  border-radius: 2px;
  position: relative;
  cursor: pointer;

  span{
    transform: rotate(45deg);
    display: inline-block;
    font-size: 23px;
    color: #86939B;
    right: 11px;
    position: absolute;
    top: 6px;

    &:hover {
      color: $color-dark-90;
    }
  }
}

.wp-tag-cloud {
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: $color-blue-light;
    min-height: 30px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    transform: background-color .2s ease;

    &:hover {
      background-color: $color-tertiary-text-3;
    }

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #15254B;
      padding: 0 10px;
    }
  }
}

.quarat {
  display: inline-block;
  border-right: 2px solid $color-black-blue-50;
  border-bottom: 2px solid $color-black-blue-50;
  height: 7px;
  width: 7px;
  max-width: 7px;
  max-height: 7px;
  transform: rotateZ(45deg);
  transition: all .3s ease;
  transform-origin: 5px 5px;

  &.active {
    transform: rotateZ(225deg);
    border-right: 2px solid $color-dark-90;
    border-bottom: 2px solid $color-dark-90;
  }
}