.resultat {
  padding-top: 110px;
  margin-bottom: -150px;
}

.cta-1 {
  padding: 130px 0;
  margin-bottom: 150px;
  @include md-block {
    margin-bottom: 100 px;
  }

  background-color: $color-energy-dark-blue;
  .text-1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 50px;

    @include sm-block {
      text-align: left;
    }

  }
  .btn {
    @include btn;
    @include btn-large;
    @include btn-magenta;
    margin: 0 auto;
    display: block;

    @include sm-block {
      margin: 0;
    }
  }
}
.items-3 {

  margin-bottom: 150px;
  @include md-block {
    margin-bottom: 100 px;
  }

  .col {
    @include col;
    @include size(4);
    @include size-md(12);
  }
  .title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 171%;
    color: #15254B;
    text-transform: uppercase;
  }

  .content {
    &.active {
      display: block;
    }

    .roll {
      & > img {
        margin-bottom: 30px;
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #3C5D72;
      margin-bottom: 30px;
    }

    h3, h4, h5, h6{
      @extend .f-18-reg-bb100;
      margin-bottom: 10px;
      font-weight: bold;
    }

    h2{
      font-style: normal;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 30px;
      line-height: 43px;
      color: #15254B;

      @include sm-block {
        font-size: 24px;
      }
    }

    slider {
      ul {
        padding-left: 0px;
        list-style: none;
      }
    }

    ul.labels {
      display: none;

    }

    ul {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: #3C5D72;
      margin-bottom: 30px;
      list-style: disc;
      padding-left: 20px;

    }

    li:not(:last-child) {
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }

    p img {
      margin-bottom: 30px;
    }

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}
.resultat-add {
  margin-bottom: 150px;
  @include md-block {
    margin-bottom: 100 px;
  }
  .wrapper-c {
    @include wrapper;
    border-radius: 4px;
    padding: 80px 80px 75px;
    background-color: $color-blue-light;
  }

  .help {

  }

  .col-1 {
    @include col;
    @include size(4);
    @include size-sm(12);
    @include sm-block{
      padding: 0 30px;
      display: flex;
    }

    img{
      margin-bottom: 20px;

      @include sm-block{
        height: 60px;
        margin-right: 20px;
      }
    }

    .text-1 {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #15254B;
      margin-bottom: 10px;
    }
    .text-2 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #3C5D72;
    }
  }
  .col-2 {
    @include col;
    @include shift-left(1);
    @include size(7);
    @include shift-md-left(0);
    @include size-md(8);
    @include size-sm(12);
    @include sm-block{
      order: -1;
      margin-bottom: 50px;
      padding: 0 30px;
    }

    .text-3 {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
      color: #3C5D72;
    }
  }
  
}