.single-new {
  padding-top: 100px;

  .col-1 {
    @include col();
    @include size(2);
    @include size-md(3);
    @include size-sm(12);

    .date {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: rgba(81, 100, 112, 0.7);
      margin-bottom: 40px;
      transition: background-color .2s ease;
    }

    .tags {

      li {
        list-style: none;

        &:hover a {
          background-color: $color-tertiary-text-3;
        }

        a{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #15254B;
          background-color: #F2F5F9;
          border-radius: 2px;
          padding: 4px 10px;
          display: inline-block;
          margin-bottom: 10px;
        }
      }
    }

    .counter {
      display: none;
      opacity: 0;
    }
  }

  .col-2 {
    @include col();
    @include size(8);
    @include size-md(9);
    @include size-sm(12);

    .head {
      @extend .font-section-title;
      margin-bottom: 40px;

      @include sm-block {
        font-size: 30px;
      }
    }
  }


}
.fs{
  background-color: #000;
}
.content-post {
  .roll {
    & > img {
      margin-bottom: 30px;
    }
  }
  p.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #3C5D72;
    margin-bottom: 30px;
  }

  h2, h3, h4, h5, h6{
    @extend .f-18-reg-bb100;
    margin-bottom: 10px;
    font-weight: bold;
  }

  slider {
    ul {
      padding-left: 0px;
      list-style: none;
    }
  }

  ul.labels {
    display: none;

  }

  ul {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #3C5D72;
    margin-bottom: 30px;
    list-style: circle;

  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }

  p img {
    margin-bottom: 30px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }
}

.bread-crumb {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 110px;

  .home, .arrow, .all_news {
    color: rgba(81, 100, 112, 0.7);
  }

  a:hover {
    color: #3C5D72;
  }

  .current-news {
    color: #15254B;
  }

  .arrow {
    margin: 0 5px;
  }
}

.counter {
  display: none;
  opacity: 0;
}