.team {
  padding-top: 110px;

  .desktop {
    @include sm-block {
      display: none;
    }
  }

  .mobile {
    display: none;

    @include sm-block {
      display: block;
    }
  }

  .item {
    width: 300px;
    display: block;
  }

  .title {
    margin: 100px 0 50px;
    @extend .font-section-title;

    @include md-block {
      margin: 70px 0 50px;
    }

    @include sm-block {
      margin: 30px 0 50px;
      font-size: 30px;
    }
  }

  .help {
    margin-bottom: 30px;
    height: 420px;
    background-size: auto;
    background-position: center;
    overflow: hidden;
  }

  .img {
    transform: scale(1);
    transition: all .3s ease;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .col {
    margin-bottom: 43px;
    display: block;
    @include col();
    @include size(3);
    @include size-md(4);

    &:hover .name {
      color: $color-blue;
    }

    &:hover .img {
      transform: scale(1.1);
    }
  }

  .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $color-dark-90;
  }
  .status {
    color: $color-black-blue-50;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
  }

  .owl-nav {
    display: flex;
    margin: 50px 0;

    button {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      border: 2px solid $color-tertiary-text-2!important;

      &:focus {
        border: none;
        outline: none;
      }
    }

    span {
      font-size: 33px;
      line-height: 19px;
      font-weight: 300;
      color: $color-dark-90;
    }
  }
}

.owl-count2 {
  align-self: center;
  margin: 10px;
  font-weight: normal;
  color: $color-black-blue-100;
}

.single-team {
  padding-top: 110px;

  @include md-block{
    padding-top: 80px;
  }

  .help {
    @include md-block{
      display: none;
    }
  }
  .title {
    @extend .font-section-title;

    @include sm-block {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }


  .status {
    @extend .font-text-16-black-bl-50;
    margin-bottom: 50px;

    @include sm-block {
      margin-bottom: 20px;
    }
  }

  .help2 {
    @include col();
    @include size(12);
    @include size-md(6);
    @include size-sm(12);
  }

  .img {
    @include col();
    @include size(12);
    @include size-md(6);
    @include size-sm(12);
    width: 100%;

    @include md-block {
      margin-bottom: 50px;
    }
  }

  .back {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
    color: $color-black-blue-50;
    margin: 50px 0;
    display: block;

    &:hover {
      color: $color-dark-90;
    }
  }

  .col-1 {
    @include col();
    @include size(5);
    @include size-md(12);
  }
  .col-2 {
    @include col();
    @include size(7);
    @include size-md(12);
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
    margin-bottom: 13px;
    color: $color-dark-90;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160.5%;
    color: $color-black-blue-100;
    margin-bottom: 30px;
  }

  .prev{
    @include col();
    @include size(5);
    @include md-block {
      display: none;
    }
    display: flex;

    &:hover .title-mini {
      color: $color-blue;
    }
  }

  .next {
    @include col();
    @include shift-left(2);
    @include size(5);
    @include shift-md(0);
    @include size-md(12);

    display: flex;

    &:hover .title-mini {
      color: $color-blue;
    }
  }

  .img-mini {
    height: 120px;
    width: 120px;
    min-width: 120px;
    background-color: red;
    margin-right: 20px;
    border-radius: 4px;
    background-size: 185%;
    background-position: center 15%;

    @include sm-block {
      display: none;
    }
  }

  .row-mini {
    @extend .row;
    background-color: $color-blue-light;
    padding: 30px;
    margin-bottom: 30px;
  }

  .text-mini {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
    color: $color-black-blue-50;
    margin-bottom: 10px;
  }

  .title-mini {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $color-dark-90;
  }

  .status-mini {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: $color-black-blue-50;
  }
}
