.team {
  margin-top: 30px;

  .desktop {
    @include sm-block {
      display: none;
    }
  }

  .mobile {
    display: none;

    @include sm-block {
      display: block;
    }
  }

  .item {
    width: 300px;
  }

  .title {
    margin: 100px 0 50px;
    @extend .font-section-title;
  }

  .img {
    background-image: url(https://infotech.group/assets/images/about/team/pavlov.jpg);
    margin-bottom: 30px;
    height: 420px;
    background-size: cover;
    background-position: center;
  }

  .col {
    margin-bottom: 43px;
    @include col();
    @include size(3);
    @include size-md(4);
  }

  .name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $color-dark-90;
  }
  .status {
    color: $color-black-blue-50;
    font-weight: normal;
  }

  .owl-nav {
    display: flex;
    margin: 50px 0;

    button {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      border: 2px solid $color-tertiary-text-2!important;

      &:focus {
        border: none;
        outline: none;
      }
    }

    span {
      font-size: 33px;
      line-height: 19px;
      font-weight: 300;
      color: $color-dark-90;
    }
  }
}

.owl-count2 {
  align-self: center;
  margin: 10px;
  font-weight: normal;
  color: $color-black-blue-50;
}