/*
 * 	Green theme - Owl Carousel CSS File
 */

$color-base:			#4DC7A0 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

.owl-theme-estate {
	// Styling Next and Prev buttons
	&:hover .owl-nav {
		opacity: 1;
	}

	&:hover .owl-dots {
		opacity: 1;
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		left: 30px;
		right: 30px;
		display: flex;
		justify-content: space-between;
		-webkit-tap-highlight-color: transparent;
		opacity: 0;
		transition: opacity .2s ease;

		@include sm-block {
			display: none;
		}

		span {
			font-size: 27px;
			line-height: 70%;
			color: white;
			border: none;
		}

		[class*='owl-'] {
			height: 40px;
			width: 40px;
			border-radius: 40px;
			border: 2px solid $color-tertiary-text-2!important;
			background-color: rgba(255,255,255,0.2);
			transition: background-color .3s ease;
			opacity: .5;
			transition: opacity .2s ease;

			&:hover {
				opacity: 1;
			}
			&:focus {
				outline: none;
			}
			&:active {
				background-color: rgba(255,255,255,0.2);
				outline: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		display: flex;
		position: absolute;
		bottom: 30px;
		left: 30px;
		opacity: 0;
		transition: opacity .2s ease;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			flex-grow: 1;
			border-radius: 6px;

			span {
				width: 100%;
				height: 6px;
				width: 6px;
				margin: 10px;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
				background: $color-tertiary-text-3;
			}

			&:focus {
				outline: none;
			}

			&.active,
			&:hover {
				span {
					transform: scale(1.6);
					background: $color-tertiary-text-1;
					outline: none;
				}
			}
		}
	}
}

.owl-theme-main {
	// Styling Next and Prev buttons
	&:hover .owl-nav {
		opacity: 1;
	}

	&:hover .owl-dots {
		opacity: 1;
	}

	.owl-nav {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		left: 30px;
		right: 30px;
		display: flex;
		justify-content: space-between;
		-webkit-tap-highlight-color: transparent;
		opacity: 0;
		transition: opacity .2s ease;

		@include sm-block {
			display: none;
		}

		span {
			font-size: 27px;
			line-height: 70%;
			color: white;
			border: none;
		}

		[class*='owl-'] {
			height: 40px;
			width: 40px;
			border-radius: 40px;
			border: 2px solid $color-tertiary-text-2!important;
			background-color: rgba(255,255,255,0.2);
			transition: background-color .3s ease;
			opacity: .5;
			transition: opacity .2s ease;

			&:hover {
				opacity: 1;
			}
			&:focus {
				outline: none;
			}
			&:active {
				background-color: rgba(255,255,255,0.2);
				outline: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		display: flex;
		position: absolute;
		bottom: 30px;
		left: 30px;
		opacity: 0;
		transition: opacity .2s ease;
		@include sm-block {
			display: none;
		}

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			flex-grow: 1;
			border-radius: 6px;

			span {
				width: 100%;
				height: 6px;
				width: 6px;
				margin: 10px;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
				background: $color-tertiary-text-3;
			}

			&:focus {
				outline: none;
			}

			&.active,
			&:hover {
				span {
					transform: scale(1.6);
					background: $color-tertiary-text-1;
					outline: none;
				}
			}
		}
	}
}

.owl-theme-slide {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		display: flex;
		background-color: rgba(134, 147, 155, 0.5);
		border-radius: 4px;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			flex-grow: 1;

			span {
				width: 100%;
				border-right: 4px;
				height: 4px;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
			}

			&:focus {
				outline: none;
			}

			&.active,
			&:hover {
				span {
					background: $color-black-blue-100;
					outline: none;
				}
			}
		}
	}
}

.owl-theme-slide > div > div > div {
	margin: 40px 0;
}


.owl-theme-cart {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		background: none;

		.owl-dot {
			display: inline-block;
			flex-grow: 0;
			zoom: 1;
			*display: inline;

			span {
				width: 6px;
				height: 6px;
				margin: $dot-margin;
				background: $color-tertiary-text-3;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 10px;
				transition: all .2s ease;
			}

			&.active,
			&:hover {
				span {
					background: $color-tertiary-text-1;
					transform: scale(2);
				}
			}
		}
	}
}

.owl-theme-cart-dots{
	display: flex;
}

.owl-theme-cart-dot{
	cursor: pointer;
	padding: 10px;

	.bg {
		transform: scale(1);
		background-color: $color-tertiary-text-1;
		transition: all .3s ease;
		height: 6px;
		border-radius: 12px;
		width: 6px;
	}

	&.active .bg{
		background-color: $color-tertiary-text-3;
		transform: scale(2);
	}
}

.owl-theme-team {
	// Styling Next and Prev buttons
	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		display: flex;
		background-color: rgba(134, 147, 155, 0.5);
		border-radius: 4px;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			flex-grow: 1;

			span {
				width: 100%;
				border-right: 4px;
				height: 4px;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
			}

			&:focus {
				outline: none;
			}

			&.active,
			&:hover {
				span {
					background: $color-black-blue-100;
					outline: none;
				}
			}
		}
	}
}

.owl-theme-news {
	// Styling Next and Prev buttons
	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-nav {
		display: flex;
		margin: 20px 0 20px;

		button {
			height: 40px;
			width: 40px;
			border-radius: 40px;
			border: 2px solid $color-tertiary-text-2!important;

			&:focus {
				border: none;
				outline: none;
			}
		}

		span {
			font-size: 33px;
			line-height: 25px;
			font-weight: normal;
			color: $color-black-blue-50;
		}
	}
	.owl-count-new {
		align-self: center;
		margin: 0 10px;
		color: $color-black-blue-50;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		display: flex;
		background-color: rgba(134, 147, 155, 0.5);
		border-radius: 4px;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			flex-grow: 1;

			span {
				width: 100%;
				border-right: 4px;
				height: 4px;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
			}

			&:focus {
				outline: none;
			}

			&.active,
			&:hover {
				span {
					background: $color-black-blue-100;
					outline: none;
				}
			}
		}
	}
}
