/* Button */

@mixin btn {
    cursor: pointer;
    transition: background .3s ease;
    outline: none;
    font-family: Gordita, sans-serif;
    border: none;
    text-align: center;
    font-weight: 500;
    border-radius: 4px;
}

@mixin btn-blue {
    color: $color-white;
    background: $color-blue;

    &:hover {
        background: $color-blue-hover;
    }

    &:active {
        background: $color-blue-active;
    }
}

@mixin btn-second {
    background: $color-white;
    color: $color-blue;
    border: 2px solid $color-blue;

    &:hover {
        border: 2px solid $color-blue-active;
        color: $color-blue-active;
    }

    &:active {
        border: 2px solid $color-dark-90;
        color: $color-dark-90;
    }
}

@mixin btn-magenta {
    color: $color-white;
    background: $color-magenta;

    &:hover {
        background: $color-magenta-hover;
    }

    &:active {
        background: $color-magenta-active;
    }
}

@mixin btn-large {
    font-size: 18px;
    padding: 18px 20px 17px;
}

@mixin btn-accent {
    font-size: 18px;
    padding: 17px 20px 17px;
}

@mixin btn-small {
    font-size: 16px;
    padding: 8px 20px 9px;
}

.btn-b {
    @include btn;
    @include btn-blue;
    @include btn-large;
}

.btn-m {
    @include btn;
    @include btn-magenta;
    @include btn-large;
}

/* End Button */
