/* Font */

@font-face {
  font-family: 'Gordita';
  src: url('./fotns/Gordita-Regular.eot'), url("./fotns/Gordita-Regular.otf") format("otf");
  src: local('☺'), url('./fotns/Gordita-Regular.woff') format('woff'), url('./fotns/Gordita-Regular.ttf') format('truetype'), url('./fotns/Gordita-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('./fotns/Gordita-Bold.eot'), url("./fotns/Gordita-Bold.otf") format("otf");
  src: local('☺'), url('./fotns/Gordita-Bold.woff') format('woff'), url('./fotns/Gordita-Bold.ttf') format('truetype'), url('./fotns/Gordita-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url('./fotns/Gordita-Medium.eot'), url("./fotns/Gordita-Medium.otf") format("otf");
  src: local('☺'), url('./fotns/Gordita-Medium.woff') format('woff'), url('./fotns/Gordita-Medium.ttf') format('truetype'), url('./fotns/Gordita-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@mixin accent-52-bold {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 120%;
}
@mixin head-40-bold {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
}
@mixin head-30-bold {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 43px;
}
@mixin head-30-medium {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
}
@mixin head-20-medium {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

}
@mixin head-20-bold {
  font-family: Gordita, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
}
@mixin head-20-regular {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
}
@mixin desc-18-regular {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}
@mixin desc-18-bold {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160%;
}
@mixin text-16-regular {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
@mixin menu-16-medium {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
@mixin help-14-regular {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
@mixin phone-18-bold {
    font-family: Gordita, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
@mixin section-12-medium {
    font-family: Gordita, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 171%;
    text-transform: uppercase;
}

.font-section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: $color-dark-90;
}
.font-help {
    font-size: 14px;
    line-height: 22px;
    color: $color-black-blue-50;
}
.font-head-30-white-b {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #FFFFFF;
}
.font-desc-18-blue-light {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-blue-light;
}
.font-text-16-white {
  font-size: 16px;
  line-height: 150%;
  color: $color-white;
  font-weight: normal;
}
.font-head-20-dark-m {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: $color-dark-90;
}
.font-text-16-black-bl-100 {
   font-weight: normal;
   font-size: 16px;
   line-height: 25px;
   color: $color-black-blue-100;
 }
.font-text-16-black-bl-50 {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: $color-black-blue-50;
}

.h2 {
  font-family: Gordita, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;

  @include sm-block {
    font-size: 30px;
  }
}

.f-40-bold-dark {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: $color-dark-90;

  @include sm-block {
    font-size: 30px;
  }
}
.f-16-reg-bb50 {
  font-size: 16px;
  line-height: 150%;
  color: $color-black-blue-50;
}
.f-18-reg-bb100 {
  font-size: 18px;
  line-height: 160%;
  color: $color-black-blue-100;
}