/* Header */

@import 'header/lang';

.header {
    z-index: 100;
    position: relative;
    background-color: $color-white;
    border-bottom: 1px solid $color-blue-light;

    &__wrapper {
        @include wrapper-full;
         display: flex;
         min-height: 80px;

        & > * {
            align-self: center;
        }
    }

    &__callback {
        margin-right: 20px;
        @include btn;
        @include btn-blue;
        @include btn-small;

        @media (max-width: 1320px) {
            display: none;
        }
    }

    &__logo {
        margin-right: 70px;

        @media (max-width: 700px) {
            flex-grow: 1;
        }

        @media (max-width: 500px) {
            margin-right: 0;
        }
    }

    &__phone {
        margin-right: 40px;
        @include phone-18-bold;
        color: $color-dark-90;

        &:hover {
            color: $color-blue;
        }
    }

    &__menu {
        flex-grow: 1;

        @media (max-width: 1090px) {
            .menu__item_lvl_1:not(:first-child) {
                display: none;
            }

            .menu__item_lvl_1:first-child:after {
                display: none;
            }
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    &__mobile {
        display: none;
        margin-left: 47px;
        margin-right: 10px;
        cursor: pointer;

        @media (max-width: 1090px) {
            display: block;
        }

        @media (max-width: 500px) {
            margin-left: 0;
        }
    }

    &__close {
        margin-left: auto;
        margin-right: 15px;
        cursor: pointer;
    }

    &__phone {
        @media (max-width: 500px) {
            margin-right: 0;
            flex-grow: 1;
        }
    }

    &__lang {
        @media (max-width: 530px) {
            display: none;
        }
    }
}