/* Header */
.header {
    z-index: 100;
    position: relative;
    background-color: var(--white);
}

.header__container{
    display: flex;
    min-height: 80px;
}

.header__callback {
    margin-right: 20px;
}

.header__logo{
    margin-right: 70px;
}

.header__container > * {
    align-self: center;
}

.header__phone {
    margin-right: 40px;
}

.header__menu {
    flex-grow: 1;
}

.header__mobile {
    display: none;
    margin-left: 47px;
    margin-right: 10px;
    cursor: pointer;
}

.header__close{
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.header__mobile {
    display: none;
}

@media (max-width: 1260px) {
    .header__callback{
        display: none;
    }
}

@media (max-width: 1045px) {
    .header__menu .menu__item_lvl_1:not(:first-child) {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .header__tablet{

    }
}

@media (max-width: 992px) {

}

@media (max-width: 700px) {
    .header__menu {
        display: none;
    }

    .header__logo {
        flex-grow: 1;
    }
}

@media (max-width: 530px) {
    .header__lang {
        display: none;
    }
}

@media (max-width: 500px) {
    .header__logo {
        margin-right: 0;
    }

    .header__phone {
        margin-right: 0;
        flex-grow: 1;
    }

    .header__mobile {
        margin-left: 0;
    }
}