// Color

$color-blue: #0169FF;
$color-blue-hover: #418DFB;
$color-blue-active: #005ADB;

$color-magenta: #F81C41;
$color-magenta-hover: #FF5B77;
$color-magenta-active: #DA0025;

$color-dark-90: #15254B;
$color-black-blue-100: #3C5D72;
$color-black-blue-50: #86939B;

$color-energy-dark-blue: #182280;
$color-blue-light: #F2F5F9;

$color-tertiary-text-1: #A4B5C0;
$color-tertiary-text-2: #BECFD9;
$color-tertiary-text-3: #D4E2EB;

$color-white: #fff;

